/* Common styles for both laptop and mobile views */
.p1 {
  background-color: rgba(228, 158, 52, 0.669);
  height: 30px;
  padding-left: 500px;
  padding-top: 5px;
  margin: 0;
}

.icon {
  display: grid;
  grid-template-columns: auto auto auto;
  color: white;
  background-color: rgb(30, 140, 107);
  height: 60px;
  margin-top: -10px;
}

.icons {
  float: left;
}

.icons i {
  padding: 20px;
}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* This maintains the aspect ratio */
}

.part1 p {
  display: inline;
  padding: 0 50px; /* Padding applied to the left and right */
}

/* Media query for laptop view */
@media (min-width: 768px) {
  .part1 {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items to the center */
    background-color: rgba(228, 158, 52, 0.669);
    height: 100px;
  }

  /* Other laptop-specific styles remain the same */
}

/* Media query for mobile view */
@media (max-width: 767px) {
  .part1 {
    flex-direction: column;
    align-items: center; /* Center items vertically */
    background-color: rgba(228, 158, 52, 0.669);
    height: auto;
  }

  /* Other mobile-specific styles remain the same */
}
